<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Beautifier needs camera access to take photos for skin smoothing.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Beautifier needs photo library access to select photos for beautification.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Beautifier needs photo library write access to save smoothed photos.</string>
</dict>
</plist>
